@font-face {
  font-family: Archivo;
  src: url('assets/fonts/Archivo-VariableFont_wdth\,wght.ttf');
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Archivo, sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
 ul {
    list-style: none;
 }
.main-button{
    text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 1vw 4.2vw;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.2s ease-in,
                color .2s ease-in;
}

.main-button:hover{
    background: none;
    outline: 2px solid;
    outline-offset: -2px;
}


header {
  color: #fff;
  background: none;
  display: flex;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  background: transparent;
  justify-content: space-between;
  padding: 2rem 6rem;
}

.logo{
  width: 200px;
}
header a {
  transition: opacity 0.3s ease;
  font-size: 1.1rem; 
  letter-spacing: .8px;
  margin-top: 1%;
  color: #FAF9F8;
  transform: scaleY(1.2);
}

header a:hover {
  opacity: 0.8;
}

.hero {
  background: url("assets/hero-bg.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  padding-inline: 5rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  overflow-x:hidden;
}
/* LEFT HERO SIDE */
.hero .left {
  margin-top: 5%;
}

.hero .left img{
  width: 100%;
  margin-left: -5%;
  object-fit: fill;
  height: max-content;
}

/* RIGHT HERO SIDE */
.hero .right {
  margin-top: 8%;
  display: flex;
  margin-right:0;
  justify-content: center;
  width: 320px;
  align-items: center;
  flex-direction: column;
}
.form-container {
  background-color: #FEFCFC;
  color: #380d36;
  width: 100%;
  padding-block: 0.5rem;
  border-radius: 10px;
  position: relative;
}

.form-header {
  padding: 0.8rem 0;
  text-align: center;
}
.form-header p{
  font-size: 13px;
}
.form-header h4 {
  font-weight:900;
  padding-block: 1rem;
  font-size: 26px;
}

.form-container form {
  width: 100%;
}
.form-bottom {
  position: absolute;
  bottom: -80px;
  left: -8px;
  width: 105%;
}
form .form-group {
  margin-bottom: 0.5rem;
  background-color: #eeeaed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
form label{
  padding-inline:.5rem;
}
form input {
  border: none;
  background: none;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.hero-info {
  margin-top: 30%;
  text-align: right;
  margin-right: 3rem;
}
.hero-info h3 {
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #0000003d;
}
.hero-info p {
  font-size: 2vw;
  margin-bottom: 5%;
  letter-spacing: 1.2px;
  line-height: 2.2vw;
  font-weight: 300;
  text-shadow: 1px 1px 2px #00000088;
}
.hero-info a {
  background-color: #FEFCFC;
  color: #000;
  background-blend-mode:screen;
  
}
.hero-info a:hover {
  color: #FEFCFC;
  outline-color:  #FEFCFC;
}

/* Core Values */
.values{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}
.values .left {
    background: url("https://img.freepik.com/free-photo/medium-shot-graduate-student_23-2148950577.jpg");
    height: 100%;
    width: 100%;
    background-color: red;
    background-size: cover;
    background-position: center;
}
.values .right{
    padding: 5rem 2rem;
    background-color: #FEFCFC;
    position: relative;
}

.values .right h1{
    font-size: 4rem;
    transform: scaleY(1.3);
    color: #380d36;
}
.values .right ul {
    margin-top: 5%;
}

.values .right ul li{
    list-style: none;
    margin-block: 2rem;
    font-size: 1.8vw;
    font-weight: 400;
    transform: scaleY(1.3);
}
.values .right ul li span{
    color: #380d36;
   
}
.values .right ul li i{
    text-align: center;
    color:#D01F3B;
    width: 60px;
    transform: scaleY(.7);
}
.values .right p, .values-circles p{
    font-size: 1.3rem;
    padding: 0 5% 0 2%;
    color: #380d36;
    margin-top: 4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    transform: scaleY(1.2);
}

.values .right .main-button,  .values-circles .main-button{
    background-color: #D01F3B;
    margin-left: 2%;
}

.values .right .main-button:hover{
    color: #D01F3B;
    outline-color:  #D01F3B;
    background: none;
}

/* Values Circles */
.values-circles{
  min-height: 100vh;
  width: 100%;
  background-color: #F5F5EF;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.values-grid{
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.values-grid h3{
  font-size: 3rem;
  color: #380d36;
}
.values-grid h4{
  font-size: 1.8rem;
  font-weight: 400;
}
.values-grid > h3, h4{
  padding: 1rem;
  justify-self: center;
  transform: scaleY(1.3);
}

.images{
  display: grid;
  width: 84%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.circle-img{
  width: 90%;
}

.values-circles p{
  padding: 0;
  align-self: flex-start;
  width: 80%;
  line-height: 30px;
  color: #000;
  font-weight: 400;
  margin-inline: 6%;
}
.values-circles .main-button{
  background-color: #D01F3B;
  align-self: flex-start;
  margin-inline: 6%;
}
.values-circles .main-button:hover{
  color: #D01F3B;
  outline-color:  #D01F3B;
  background: none;
}


footer{
  padding: 2rem 4rem;
  background-color: #F5F5EF;
  color: #380d36;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}

.socials i{
  padding: 12px;
  border-radius: 50%;
  font-size: 18px;
  color: #380d36;
  transition: background .3s ease-in-out,
              color .3s ease-in-out;
}

.socials i:hover{
  background-color: #380d36;
  color: #FEFCFC;
}
@media (min-width: 1450px) {
  .hero-info{
    margin-right: 10vw;
  }
}

@media (max-width: 1280px) {
  .hero .left{
    margin-top: 15%;
  }
  .hero .left img{
    width: 80%;
  }
  .hero .right {
    width: 280px;
    margin-right:1vw;

  }
  .form-header p {
    font-size: 12px;
  }
  .form-header h4 {
    padding: 10px 2px;
    font-size: 23px;
  }
  label {
    font-size: 0.8rem;
  }
  form input{
    padding: .5rem;
  }
  .form-bottom {
    bottom: -70px;
  }
  .values-grid h3{
    font-size: 3.2vw;
  }
  .values-grid h4{
    font-size: 2vw;
  }
}

@media all and (max-width: 992px) {
  header {
    padding: 2rem;
  }
  .hero{
    padding-inline: 2rem
  }
  .hero .left {
    margin-top: 15%;
  }
  .hero .right {
    width: 250px;
    margin-top: 15%;
  }
  .form-header p {
    font-size: 0.6rem;
  }
  .form-header h4 {
    font-size: 1.2rem;
  }
  .form-bottom {
    bottom: -60px;
  }
  label {
    font-size: 0.6rem;
  }
  form input {
    padding-block: 0.5rem;
  }
  .hero-info p{
    line-height: 15px;
  }
  .values-grid h3{
    font-size: 2.8vw;
  }
  .values-grid h4{
    font-size: 1.5vw;
  }
  footer{
    padding-inline: 2rem;
  }
  .socials i{
    font-size: 15px;
  }
}


@media all and (max-width: 650px) {
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero .left{
        margin-top:10%;
    }
    .hero .left img{
      width: 80%;
    }
    .hero .right{
        margin-top: 5%;
    }
    .form-header p {
        font-size:  .6rem;
      }
      .form-header h4 {
        font-size: 1rem;
      }
      .form-bottom{
        bottom: -55px;
        left: -5px;
      }
      .hero-info {
        margin: 3rem 0
      }
      .hero-info h3{
        font-size: 5vw;
      }
      .hero-info p{
        font-size: 3.6vw;
      }
      .values .left{
        display: none;
      }
      .values .right{
        width: 200%;
      }
      .values-circles{
        padding: 1rem;
      }
      .values-grid{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
      }
      .values-grid h3{

        font-size: 4vw;
      }
      .values-grid h4{
        font-size: 2.4vw;
      }

      .images{
        gap: 0;
      }
      .socials i{
        font-size: 10px;
      }

    
}
